/*regola di reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    background-color: white;
}
#img-logo{
    height: 80px;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
#logo-text{
    font-size: 25px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
}

body{
    background-color:rgb(163, 171, 246) ;
    width: 100%;
    height: 100%;
}
.centro{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
    margin-top: 5%;

}
button{
    margin-top: 10px;
    margin-bottom: 5px;
    border-width: 0.5px;
    border-color: rgb(74, 71, 71);
    border-radius: 8%;

}
#button-blu{
    background-color: rgb(71, 161, 238);
    font-size: 9px;
    color: rgb(254, 254, 254);
    font-style: italic;
    margin-left: 15px;
    padding: 2px;

}
#button-bianco{

    background-color: rgba(254, 254, 254, 0.917);
    font-size: 9px;
    color: rgb(183, 180, 180);
    font-style: italic;
    margin-left: 15px;
    padding: 2px;
}

hr{
    background-color:rgb(163, 171, 246) ;
    height: 3px;
    color: rgb(163, 171, 246);
}
h4:before{
    content: '\25BC';
}
h4{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 15px;
}
.editorial:after{
    content: 'Editorial';
}
.editorial{
    display: inline-block;
    background-color: rgb(71, 161, 238);
    border-radius: 30%;
    text-align: center;
    width: 50px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 8px;
    color: white;
    
}
.q1-goals:after{
    content: 'Q1 Goals';
}
.q1-goals{
    display: inline-block;
    background-color: rgb(165, 14, 163);
    border-radius: 30%;
    text-align: center;
    width: 50px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 8px;
    color: white; 
}
.recruiting:after{
    content: 'Recruiting';
}

.recruiting{

    display: inline-block;
    background-color: rgb(19, 154, 93);
    border-radius: 30%;
    text-align: center;
    width: 50px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 8px;
    color: white;
}

.Mobile:after{

content: 'Mobile';
}
.Mobile{

    display: inline-block;
    background-color: rgb(216, 114, 31);
    border-radius: 30%;
    text-align: center;
    width: 50px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 8px;
    color: white;
}

.Website:after{
    content: 'Website';
}

.Website{

    display: inline-block;
    background-color: rgb(182, 20, 104);
    border-radius: 30%;
    text-align: center;
    width: 50px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 8px;
    color: white; 
}

.Sales:after{
    content: 'Sales';
}

.Sales{
    display: inline-block;
    background-color: rgb(51, 135, 66);
    border-radius: 30%;
    text-align: center;
    width: 50px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 8px;
    color: white; 
}
#spunta:before{
content: '\2713';
color: green;
background-color: white;
border-color: green;
}

#x:before{
    content: '\2716';
    color: red
    ;
}

li{
    vertical-align: middle;
    line-height: 50px;
    height: 30px;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 13px;
}
